html, body {
	margin: 0;
	padding: 0;
	
  }
  canvas{
    border:5px dotted orangered;
  }
  *{
    user-zoom: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
  }
  .txt{
    position:static;

    text-align: center;
    text-shadow:70pt;
    top:0.2%;
    background: rgb(214,198,40);
    text-align:center;
background: linear-gradient(90deg, rgba(214,198,40,1) 0%, rgba(244,244,244,0.9976365546218487) 100%, rgba(0,212,255,1) 100%);

user-select:none;
-webkit-user-select:none;
-webkit-user-drag: none;
}
ul{
  font-size: 20px;
  margin:10px 0;
}
li{
  margin-top: 12.5px;
}

li:first-child {
  margin-top:0;
}
  canvas {
    display: block;
  }
  @media only screen and(max-device-width:900px){
    canvas{
      display:none;
    }
  }

 /*a{
    position: absolute;
    padding: 20px 40px;
    text-decoration: none;
top:5%;
outline:0;
    color: #fff;
    font-size:20pxpx;
    width:60px;
    height:10px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1px;
    overflow: hidden;
    box-shadow: 0 15px 15px rgba(0,0,0.2);
    background: linear-gradient(-30deg,#5cf304 30%,  #c7f327 80%);
  }
  a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    background: rgba(255,255,255,.1);
  }
  a:after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,.4),transparent);
    transition: 0.4s;
    transition-delay: 0.6s;
  }
  a:hover:after{
    left: 100%;
  }*/
  .butt{
    position:absolute;
    height:2.5em;
    padding:10px 10px;
    margin:28px 10px;
    top:1px;
    left:85%;
    cursor:pointer;
    display:inline-block;
    color:#FFF;
    font-size:1em;
    border:1px solid #eee;
    background:#eee;
    border-radius:4px;
    line-height:1em;
    text-align:center;
    border:1px solid #aaa;
    text-decoration:none;
      
       -webkit-transition: all 0.3s linear;
       -khtml-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        user-select:none;
        -webkit-user-select:none;
        -webkit-user-drag: none;
  }
  .butt:hover{
    -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -khtml-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -moz-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
           -o-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
              box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  }
  .butt:active {
      -webkit-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
       -khtml-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
         -moz-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
           -o-box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
              box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
      text-shadow:1px 1px 1px rgb(192, 186, 186);
  }
.blue{
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
  }


  #button_1{
      
    left:50%;
     width:40%;
     top:60%;
    position:absolute;
    text-align: center;
    font-size: 16px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    }
  #button_2{
      
  left:58%;
   width:40%;
   top:60%;
  position:absolute;
  text-align: center;
  font-size: 16px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  }
 


@media only screen and (max-device-width: 1000px) {

#button_1{
      
  left:10%;
   width:80%;
   top:59%;
  position:fixed;
  text-align: center;
   
  font-size: 16px;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  }

 
  #button_2{
      
  left:12%;
   width:80%;
   top:69%;
  position:fixed;
  text-align: center;
  font-size: 16px;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
 
  }
  

}

#whatsapp_share_button{
 right:115%;
   width:320px;
position:absolute;
  text-align: center;
   padding:5px;
   padding-bottom:12px;
margin:20px 50px;
height:3.5em;
   outline:0;
   background:linear-gradient(45deg,#128C7E,#4cc78b);
   border:0;
   text-decoration:none;
   COLOR:rgb(255, 255, 255);
   cursor:pointer;
   border-radius:10px;
    /*vertical-align: center;*/ /* w.t.f? */
    text-align: center;
  font-size: 18px;
  box-shadow: 4px 4px 4px #999;
  transition:1s;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#whatsapp_share_button:hover{
  position:absolute;
  right:115%;
   width:322px;
  text-align: center;
  padding:5px;
   padding-bottom:12px;
   margin:20px 50px;
   line-height:1em;
   outline:0;
   background:transparent;
   color:#048a7a;
   border:0;
   cursor:pointer;
   text-decoration:none;
   border-radius:10px;
   display: inline-block;
   vertical-align: middle;
    /*vertical-align: center;*/ /* w.t.f? */
    text-align: center;
  font-size: 18px;
  -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  transition:1s;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
span{
  text-align:center;
  margin-bottom:30px;
}
svg{
  position: relative;
  top: 0.5em;
  height: 2em;
  width: 2em;
 
}

#facebook_share_button{
  right:30%;
   width:320px;
position:absolute;
  text-align: center;
   padding:5px;
   padding-bottom:12px;
margin:20px 50px;
height:3.5em;
   outline:0;
   background:linear-gradient(45deg,#286090,#2814d4);
   border:0;
   text-decoration:none;
   COLOR:rgb(255, 255, 255);
   cursor:pointer;
   border-radius:10px;
    /*vertical-align: center;*/ /* w.t.f? */
    text-align: center;
  font-size: 18px;
  box-shadow: 4px 4px 4px #999;
  transition:1s;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
#facebook_share_button:hover{
  right:30%;
   width:320px;
position:absolute;
  text-align: center;
   padding:5px;
   padding-bottom:12px;
margin:20px 50px;
height:3.5em;
   outline:0;
   background:transparent;
   border:0;
   text-decoration:none;
   COLOR:#286090;
   cursor:pointer;
   border-radius:10px;
    /*vertical-align: center;*/ /* w.t.f? */
    text-align: center;
  font-size: 18px;
  -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
     -khtml-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
       -moz-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
         -o-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
            box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  transition:1s;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
.btn{
  position:absolute;
   top:75%;
   right:36%;
}

   
